<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-5">
    <!-- Brand Logo -->
    <a href="/save_test" class="brand-link">
      <img src="../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Admin UPZ</span>
    </a>

    <!-- Sidebar -->
   
      <!-- Sidebar Menu -->
      <nav class="mt-5">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-file"></i>
              <p>
                Tidak Dengan Seleksi Ciri
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a href="/save_test" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p>Test</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/view_data_latih_asli" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p>Data Latih</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/view_result" class="nav-link">
                      <i class="fa fa-circle-o nav-icon"></i>
                      <p>Hasil Data Latih</p>
                    </a>
                  </li>

              <li class="nav-item">
                <a href="/imdata_uji" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>Import Data Uji</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="view_data_uji_asli" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>Data Uji</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/view_result_uji" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>Hasil Data Uji</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-file"></i>
                <p>
                  Dengan Seleksi Ciri
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                  <li class="nav-item">
                      <a href="/save_test_weka" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Test Seleksi Ciri</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/view_data_latih_asli_weka" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Data Latih Seleksi Ciri</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/view_result_weka" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Hasil Data Latih Seleksi Ciri</p>
                      </a>
                    </li>
  
                <li class="nav-item">
                  <a href="/imdata_uji_weka" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Import Data Uji Seleksi Ciri</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/view_data_uji_asli_weka" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Data Uji Seleksi Ciri</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/view_result_uji_weka" class="nav-link">
                    <i class="fa fa-circle-o nav-icon"></i>
                    <p>Hasil Data Uji Seleksi Ciri</p>
                  </a>
                </li>
              </ul>
          </li>

          <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fa fa-file"></i>
                <p>
                  Laporan
                  <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                  <li class="nav-item">
                      <a target="_blank" href="/laporan" class="nav-link">
                        <i class="fa fa-circle-o nav-icon"></i>
                        <p>Laporan Data</p>
                      </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="/laporan_weka" class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p>Laporan Data Hasil Seleksi Ciri</p>
                        </a>
                      </li>
                  
              </ul>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
