<!DOCTYPE html>
<html lang="en">
{% include '/based/head.html' %}  
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
      {% include '/based/nav.html' %} 
    <!-- Navbar -->
    <!-- Main Sidebar Container -->
    {% include '/based/sidebar.html' %}
    <!-- /.sidebar -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Import Data Latih</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Import data</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% include '/based/flash.html'%}
<!--contact-->
 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-12 col-md-6">
          <!-- About Me Box -->
          <div class="card card-primary">
            <!-- /.card-header -->
            <div class="card-body">
              <form action="/imdata" method="POST" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                    <i class="fa fa-align-justify"></i> Impor Data Mustahik
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-md-3 form-control-label" for="file-input">Upload File Excel (*.xlsx)</label>
                                <div class="col-md-9">
                                    <input type="file" id="file-input" name="file-input" required>
                                </div>                       
                            </div>                                                    
                        </div>                                                                             
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary pull-right" type="submit">Impor File</button>
                    </div>
                </div>
            </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
       
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>


   
</div> 
<footer class="main-footer">
  <!-- To the right -->
 
  <!-- Default to the left -->
  <strong>Copyright &copy; 2014-2018 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>
</div>
{% include '/based/js.html' %}
</body>
</html>